# Ignore WordPress core files
wp-admin/
wp-includes/

# Ignore uploads
wp-content/uploads/

# Ignore cache
wp-content/cache/
wp-content/backups/
wp-content/upgrade/

# Ignore config with sensitive info
wp-config.php

# Ignore OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
